<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <div class="block-panel">
    <p>
      <span>User</span>
      <span id="user" class="label label-default"><%= user.email %></span>
    </p>
    <div class="clearfix">
      <a class="pull-left" href="/lobby">To all chat rooms</a>
      <a class="pull-right" href="/logout">Logout</a>
    </div>
    <h2 class="block-panel-heading">Room #<%= url %></h2>
    <div class="row message-input">
      <div class="col-lg-12">
        <form id="chatMessageForm" action="/uploadfile" method="post" autocomplete="off" enctype="multipart/form-data">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Send</button>
            </span>
            <input type="text" id="chatMessage" class="form-control" placeholder="Write your message">
          </div>
          <div class="form-group">
            <input type="file" name="file" id="inputFile">
          </div>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body chat-body">
        <div id="process"></div>
        <!-- here go messages -->
        <% messages.forEach(function(msg){ %>
        <div class='message'>
          <span class='user text-<%= msg.className %>'><%= msg.author %>:</span>
          <span><%= msg.message %></span>
          <% if (msg.file) { %> <a href="../<%= msg.file %>"
            class='text-<%= msg.className %>'><small><%= msg.file %></small></a> <% } %>
        </div>
        <% }) %>
      </div>
    </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    function defineColorClass() {
      var min = 1;
      var max = 6;
      var random = Math.floor(Math.random() * (max - min)) + min;
      switch (random) {
        case 1:
          return 'primary';
        case 2:
          return 'danger';
        case 3:
          return 'success';
        case 4:
          return 'warning';
        case 5:
          return 'info';
        case 6:
          return 'muted';
      }
    }
    var textColor = defineColorClass();

    $(function () {
      var socket = io.connect('http://localhost:8100/my-namespace');
      var messageField = $('#chatMessage');
      // Room creation
      socket.on('connect', function () {
        // TODO may be this data should be received on backend from db ?
        socket.emit('set_username', '<%- user.email %>')
        socket.emit('join_room', '<%- url %>');
      });

      //Emit message
      $('#chatMessageForm').submit(function (ev) {
        ev.preventDefault();
        // file to backend
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: new FormData(this),
          processData: false,
          contentType: false,
        })
          .done(function (data) {
            $('#inputFile').val("");
            // sockets
            if (messageField.val()) {
              socket.emit('new_message', { message: messageField.val(), className: textColor, file: data.filename })
            }
          });
      });
      //Listen on new_message
      socket.on("new_message", (data) => {
        $('#process').html('');
        messageField.val('');
        var file = data.file ? " <a href='../" + data.file + "' class='text-" + data.className + "'><small>" + data.file + "</small></a>" : "";
        var text = "<div class='message'><span class='user text-" + data.className + "'>" + data.author + ": </span><span>" + data.message + "</span>" + file + "</div>";
        $('.chat-body').append(text)
      });

      //Emit typing
      messageField.bind("keypress", () => {
        socket.emit('typing')
      });
      //Listen on typing
      socket.on('typing', (data) => {
        $('#process').html("<p><i>" + data.username + " is typing a message..." + "</i></p>")
      });
    })
  </script>
</body>

</html>